h1 {
  color: teal;
  text-transform: uppercase;
  font-family: Georgia;
  font-size: 48px;
}

h2 {
  color: darkorange;
  font-family: georgia;
  font-size: 36px;
}

h3 {
  color: brown;
  font-family: Brush Script MT;
  font-size: 30px;
}

p {
  color: green;
  text-align: justify-all;
}

h4 {
  color: darkred;
  font-family: cursive;
}

ul {
  li{
    border: 1px solid red;
  }
}

a:hover {
  color: darkorange;
}

a:visited {
  color:mediumpurple;
}

.Partners {
  background-color: aqua;
  font-size: 24px;
}

img {
  float: ;
  margin: 7.5px;
  padding: ;
}